a:link {
    color: #424F5A;
}

a:visited {
    color: red;
}

a:hover {
    background-color: red;
    color: green;
    text-decoration: none;
}

a:active {
    font-size: 24px;
}

body {
    background-color: #ccc;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

h1 {
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
}
